<?xml version='1.0' encoding='utf-8'?>
<widget id="se.johancberg.whatsyourweather" version="2.3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>What's Your Weather</name>
    <description>A weather app</description>
    <author email="johan94berg@gmail.com" href="http://johancberg.se">
        Johan C Berg
    </author>
    <content src="index.html" />
    <preference name="AndroidWindowSplashScreenBackground" value="#00314a" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon">@mipmap/ic_launcher_foreground</preference>
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="android-compileSdkVersion" value="35" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
</widget>
