<?xml version='1.0' encoding='utf-8'?>
<widget id="se.johancberg.whatsyourweather" version="2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>What's Your Weather</name>
    <description>A weather app</description>
    <author email="johan94berg@gmail.com" href="http://johancberg.se">
        Johan C Berg
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
</widget>
